rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /editorials/{document} {
      allow read, write: if true;
    }
    match /editorials/{document}/images/{imageDoc} {
      allow read, write: if true;
    }
  }
}
